<!DOCTYPE html>
<html lang="en">
<head>
    <title>Intelligent Skating Performance Analysis and Assistive Training</title>
    <link rel="stylesheet" type="text/css" href="../style.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="header">
        <img src="/logo.png" class="logo">
          <a href="/">
          <div class="title">Intelligent Skating Performance Analysis</div>
        </a>
        <a href="/">
          <div class="team">Home</div>
          </a> 
        </div>
        <p style="text-align:center">
            Videos that are collected will be used only for research purposes.
            Videos will be stored on a secured University at Buffalo server, where they will be used for analysis by machine-learning algorithms.
            If you ever want to have your video removed after submitting, please contact any members of the team and provide the name of the file that you submitted.
        </p>
</body>
<style>
    p {
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: 10px;
    }
  </style>
</html>